.input {
  &-calc {
    width: 100%;
    height: auto;
    border: none;
    outline: none;
    background-color: $color-primary;
    padding: 0.45rem 0.25rem;
    font-size: 18px;
    font-weight: weight(bold);
    color: $color-dark;
  }
}

input[type="number"]::-webkit-inner-spin-button,
input[type="number"]::-webkit-outer-spin-button {
  -webkit-appearance: none;
  margin: 0;
}
